elixir 1.18
erlang 28.1

# 21.0.4+7 / Azul Zulu: 21.36.17
# GitHub actions uses JBR 21
# If using mise, you can change below to use JBR as well by doing (if version is 17.xxx)
# mac:
# mise link java@jbrsdk_jcef-21.0.3-b509.4-2024.2 /path/to/jbrsdk_jcef-21.0.3-xxx-xxx-b509.4/Contents/Home
# Then setting it to `java jbrsdk_jcef-21.0.3-b509.4-2024.2`
java jetbrains-21.0.8b1038.68
