name: Publish to Canary

on:
  workflow_dispatch:

jobs:
  publish-to-canary:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v6

      - name: Setup Build Environment
        id: setup-env
        uses: ./.github/actions/setup-env
        with:
          skip-jcef: 'true'
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Download Release Asset
        id: download-release-asset
        uses: dsaltares/fetch-gh-release-asset@1.1.2
        with:
          repo: ${{ github.repository }}
          version: tags/${{ github.ref_name }}
          file: intellij-elixir-${{ github.ref_name }}.zip
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish to Canary
        id: publish-canary
        env:
          JET_BRAINS_MARKETPLACE_TOKEN: ${{ secrets.JetBrainsMarketplaceToken }}
        run: |
          ./gradlew publishPlugin -PdistributionFile=intellij-elixir-${{ github.ref_name }}.zip
