name: Release
on:
  push:
    branches:
      - main
jobs:
  test-and-verify:
    uses: ./.github/workflows/shared-test.yml
    with:
      elixir-version: '1.13.4'
      otp-version: '24.3.4.6'

  release:
    needs: [ test-and-verify ]
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v6

      - name: Setup Build Environment
        id: setup-env
        uses: ./.github/actions/setup-env
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Build with Gradle
        id: build-plugin
        run: ./gradlew buildPlugin --no-scan

      - name: Export ASSET_PATH
        run: echo "ASSET_PATH=$(ls -1 build/distributions/intellij-elixir-*.zip)" >> $GITHUB_ENV

      - name: Export ASSET_NAME
        run: echo "ASSET_NAME=${ASSET_PATH#build/distributions/}" >> $GITHUB_ENV

      - name: Export TAG
        run: |
          version_suffix_zip=${ASSET_NAME#intellij-elixir-}
          echo "TAG=v${version_suffix_zip%.zip}" >> $GITHUB_ENV

      - name: Tag Commit
        id: tag-commit
        uses: mathieudutour/github-tag-action@v6.2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          custom_tag: ${{ env.TAG }}

      - name: Create Release
        id: create_release
        uses: softprops/action-gh-release@v2.5.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ env.TAG }}
          name: ${{ env.TAG }}
          prerelease: true
          files: ${{ env.ASSET_PATH }}
          fail_on_unmatched_files: true

#     - name: Publish
#       env:
#         JET_BRAINS_MARKETPLACE_TOKEN: ${{ secrets.JetBrainsMarketplaceToken }}
#       run: ./gradlew --stacktrace publishPlugin
