name: Release
on:
  push:
    branches:
      - main
jobs:
  test-and-verify:
    uses: ./.github/workflows/shared-test.yml
    with:
      elixir-version: '1.13.4'
      otp-version: '24.3.4.6'

  release:
    needs: [ test-and-verify ]
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v6

      - name: Setup Build Environment
        id: setup-env
        uses: ./.github/actions/setup-env
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          gradle-cache-read-only: 'false'
          skip-searchable-options: 'false'

      - name: Build with Gradle
        id: build-plugin
        run: ./gradlew buildPlugin --no-scan -PpublishChannels=default -PisRelease=true --stacktrace
