name: Test

on:
  pull_request:
    branches-ignore:
      - master

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Set up Elixir
        uses: actions/setup-elixir@v1
        with:
          otp-version: 22.2
          elixir-version: 1.7.4
      - name: Export OTP_RELEASE
        run: echo "::set-env name=OTP_RELEASE::22.2"
      - name: Export ERLANG_SDK_HOME
        run: echo "::set-env name=ERLANG_SDK_HOME::`erl -eval 'io:format("~s", [code:root_dir()]).' -noshell -run init stop`"
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Compile Tests with Gradle
        run: ./gradlew --stacktrace compileTestJava
      - name: Get Elixir Source
        run: ./gradlew --stacktrace getElixir
      - name: Release Quoter
        run: ./gradlew --stacktrace releaseQuoter
      - name: Test with Gradle
        run: ./gradlew --stacktrace test
