name: Test

on: [ pull_request, workflow_dispatch ]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  test-and-verify:
    uses: ./.github/workflows/shared-test.yml
    with:
      elixir-version: '1.13.4'
      otp-version: '24.3.4.6'
      idea-version: '2024.3.6'
      upload-reports: true
